$green: #12e177;
$blue: #4343d4;
$orange: #FFA500;

body {
  padding: 0;
  margin: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $blue;
  color: #fff;
}

button {

  border: none;

  outline: none;

  &:hover {
    cursor: pointer;
  }
}

.text-green {
  color: $green;
  margin: 5px;
}

.text-orange {
  color: $orange;
  margin: 5px;
}

.app {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board {
  .board-row {
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid #000;

    &:last-child {
      border-bottom: none;
    }

    .square {
      width: 80px;
      height: 80px;
      border-right: 2px solid #000;
      font-size: 2.5rem;
      padding: 0;
      overflow: hidden;
      transition: all 0.2s;

      &:last-child {
        border-right: none;
      }
    }
  }
}